.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.panel {
    background-position: center;
    background-size: contain;
    width: 10%;
    height: 50%;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 1000ms;
}

.active {
    background-position: center;
    background-size: auto;
    width: 55%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 1000ms;
}

.panel h3 {
    position: sticky;
    top: 1000px;
    text-align: center;
    opacity: 0;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}